################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCode/obj/Debug
/LeetCode/bin/Debug
/.vs/LeetCode/v14/.suo
/LeetCode.Test/bin/Debug
/LeetCode.Test/obj/Debug
/DataType/bin/Debug
/DataType/obj/Debug
